asm
expected
__pycache__
.splat/
starfox64.ld
starfox64.uncompressed.ld
starfox64.us.yaml
ctx.c
ctx.c.m2c
*.d
*_auto.ld
*.n64
*.z64
*.bin
*.otr
assets/yaml/us/ast_test.yaml
torch.hash.yml
src/assets/*
include/assets/*
/build
tools/mio0
tools/ido-recomp
debug/
.venv/
m2cfiles/
TempComp.bin.mio0
torch.hash.yml