asm
expected
__pycache__
.splat/
starfox64.ld
starfox64.uncompressed.ld
starfox64.us.yaml
ctx.c
ctx.c.m2c
*.d
*_auto.ld
*.n64
*.z64
*.bin
src/assets/*
!src/assets/ast_radio.c
/build
tools/mio0
tools/ido-recomp
.venv/
m2cfiles/
TempComp.bin.mio0